```http
PUT /v1/account/verifications/phone HTTP/1.1
Host: cloud.appwrite.io
Content-Type: application/json
Accept: application/json
X-Appwrite-Response-Format: 1.9.5
X-Appwrite-Project: <YOUR_PROJECT_ID>

{
  "userId": "<USER_ID>",
  "secret": "<SECRET>"
}

{
  "userId": "<USER_ID>",
  "secret": "<SECRET>"
}
```
