{
    "openapi": "3.0.0",
    "info": {
        "version": "2.0.0",
        "title": "Appwrite",
        "description": "Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to [https:\/\/appwrite.io\/docs](https:\/\/appwrite.io\/docs)",
        "termsOfService": "https:\/\/appwrite.io\/policy\/terms",
        "contact": {
            "name": "Appwrite Team",
            "url": "https:\/\/appwrite.io\/support",
            "email": "team@appwrite.io"
        },
        "license": {
            "name": "BSD-3-Clause",
            "url": "https:\/\/raw.githubusercontent.com\/appwrite\/appwrite\/master\/LICENSE"
        }
    },
    "servers": [
        {
            "url": "https:\/\/cloud.appwrite.io\/v1",
            "description": "Appwrite Cloud endpoint."
        },
        {
            "url": "https:\/\/{region}.cloud.appwrite.io\/v1",
            "description": "Appwrite Cloud regional endpoint. Replace `{region}` with your project region.",
            "variables": {
                "region": {
                    "default": "fra",
                    "description": "Appwrite Cloud region."
                }
            }
        }
    ],
    "paths": {
        "\/account": {
            "get": {
                "summary": "Get account",
                "operationId": "accountGet",
                "tags": [
                    "account"
                ],
                "description": "Get the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/get.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            },
            "post": {
                "summary": "Create account",
                "operationId": "accountCreate",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to allow a new user to register a new account in your project. After the user registration completes successfully, you can use the [\/account\/verfication](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createVerification) route to start verifying the user email address. To allow the new user to login to their new account, you need to create a new [account session](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createEmailSession).",
                "responses": {
                    "201": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/create.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "description": "User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.",
                                        "type": "string",
                                        "example": "<USER_ID>",
                                        "x-appwrite": {
                                            "idGenerator": "ID.unique"
                                        }
                                    },
                                    "email": {
                                        "description": "User email.",
                                        "type": "string",
                                        "example": "email@example.com",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "New user password. Must be between 8 and 256 chars.",
                                        "type": "string",
                                        "example": "password",
                                        "format": "password"
                                    },
                                    "name": {
                                        "description": "User name. Max length: 128 chars.",
                                        "type": "string",
                                        "default": "",
                                        "example": "<NAME>"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/email": {
            "patch": {
                "summary": "Update email",
                "operationId": "accountUpdateEmail",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account email address. After changing user address, the user confirmation status will get reset. A new confirmation email is not sent automatically however you can use the send confirmation email endpoint again to send the confirmation email. For security measures, user password is required to complete this request.\nThis endpoint can also be used to convert an anonymous account to a normal one, by passing an email address and a new password.\n",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/update-email.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "description": "User email.",
                                        "type": "string",
                                        "example": "email@example.com",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "User password. Must be at least 8 chars.",
                                        "type": "string",
                                        "example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/identities": {
            "get": {
                "summary": "List identities",
                "operationId": "accountListIdentities",
                "tags": [
                    "account"
                ],
                "description": "Get the list of identities for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Identities List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/identityList"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "identities",
                    "demo": "account\/list-identities.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "queries",
                        "description": "Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https:\/\/appwrite.io\/docs\/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, provider, providerUid, providerEmail, providerAccessTokenExpiry",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "default": []
                        },
                        "in": "query"
                    },
                    {
                        "name": "total",
                        "description": "When set to false, the total count returned will be 0 and will not be calculated.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                        },
                        "in": "query"
                    }
                ]
            }
        },
        "\/account\/identities\/{identityId}": {
            "delete": {
                "summary": "Delete identity",
                "operationId": "accountDeleteIdentity",
                "tags": [
                    "account"
                ],
                "description": "Delete an identity by its unique ID.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "identities",
                    "demo": "account\/delete-identity.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "identityId",
                        "description": "Identity ID.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "<IDENTITY_ID>"
                        },
                        "in": "path"
                    }
                ]
            }
        },
        "\/account\/jwts": {
            "post": {
                "summary": "Create JWT",
                "operationId": "accountCreateJWT",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a JSON Web Token. You can use the resulting JWT to authenticate on behalf of the current user when working with the Appwrite server-side API and SDKs. The JWT secret is valid for 15 minutes from its creation and will be invalid if the user will logout in that time frame.",
                "responses": {
                    "201": {
                        "description": "JWT",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/jwt"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "tokens",
                    "demo": "account\/create-jwt.md",
                    "rate-limit": 120,
                    "rate-time": 60,
                    "rate-key": "url:{url},userId:{userId}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "duration": {
                                        "description": "Time in seconds before JWT expires. Default duration is 900 seconds, and maximum is 3600 seconds.",
                                        "type": "integer",
                                        "default": 900,
                                        "example": 0,
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa": {
            "patch": {
                "summary": "Update MFA",
                "operationId": "accountUpdateMFA",
                "tags": [
                    "account"
                ],
                "description": "Enable or disable MFA on an account.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/update-mfa.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "mfa": {
                                        "description": "Enable or disable MFA.",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "required": [
                                    "mfa"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa\/authenticators\/{type}": {
            "post": {
                "summary": "Create authenticator",
                "operationId": "accountCreateMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                "responses": {
                    "200": {
                        "description": "MFAType",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaType"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/create-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.createMFAAuthenticator"
                    },
                    "methods": [
                        {
                            "name": "createMfaAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaType"
                                }
                            ],
                            "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                            "demo": "account\/create-mfa-authenticator.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.createMFAAuthenticator"
                            }
                        },
                        {
                            "name": "createMFAAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaType"
                                }
                            ],
                            "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                            "demo": "account\/create-mfa-authenticator.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator. Must be `totp`",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "totp",
                            "title": "AuthenticatorType",
                            "oneOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "totp"
                                    ],
                                    "title": "totp"
                                }
                            ]
                        },
                        "in": "path"
                    }
                ]
            },
            "put": {
                "summary": "Update authenticator (confirmation)",
                "operationId": "accountUpdateMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/update-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.updateMFAAuthenticator"
                    },
                    "methods": [
                        {
                            "name": "updateMfaAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type",
                                "otp"
                            ],
                            "required": [
                                "type",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/user"
                                }
                            ],
                            "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                            "demo": "account\/update-mfa-authenticator.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.updateMFAAuthenticator"
                            }
                        },
                        {
                            "name": "updateMFAAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type",
                                "otp"
                            ],
                            "required": [
                                "type",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/user"
                                }
                            ],
                            "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                            "demo": "account\/update-mfa-authenticator.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "totp",
                            "title": "AuthenticatorType",
                            "oneOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "totp"
                                    ],
                                    "title": "totp"
                                }
                            ]
                        },
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "otp": {
                                        "description": "Valid verification token.",
                                        "type": "string",
                                        "example": "<OTP>"
                                    }
                                },
                                "required": [
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete authenticator",
                "operationId": "accountDeleteMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Delete an authenticator for a user by ID.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/delete-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.deleteMFAAuthenticator"
                    },
                    "methods": [
                        {
                            "name": "deleteMfaAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 204
                                }
                            ],
                            "description": "Delete an authenticator for a user by ID.",
                            "demo": "account\/delete-mfa-authenticator.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.deleteMFAAuthenticator"
                            }
                        },
                        {
                            "name": "deleteMFAAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 204
                                }
                            ],
                            "description": "Delete an authenticator for a user by ID.",
                            "demo": "account\/delete-mfa-authenticator.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "totp",
                            "title": "AuthenticatorType",
                            "oneOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "totp"
                                    ],
                                    "title": "totp"
                                }
                            ]
                        },
                        "in": "path"
                    }
                ]
            }
        },
        "\/account\/mfa\/challenges": {
            "post": {
                "summary": "Create MFA challenge",
                "operationId": "accountCreateMfaChallenge",
                "tags": [
                    "account"
                ],
                "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                "responses": {
                    "201": {
                        "description": "MFA Challenge",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaChallenge"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/create-mfa-challenge.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{userId}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.createMFAChallenge"
                    },
                    "methods": [
                        {
                            "name": "createMfaChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "factor"
                            ],
                            "required": [
                                "factor"
                            ],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaChallenge"
                                }
                            ],
                            "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                            "demo": "account\/create-mfa-challenge.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.createMFAChallenge"
                            }
                        },
                        {
                            "name": "createMFAChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "factor"
                            ],
                            "required": [
                                "factor"
                            ],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaChallenge"
                                }
                            ],
                            "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                            "demo": "account\/create-mfa-challenge.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "factor": {
                                        "description": "Factor used for verification. Must be one of following: `email`, `phone`, `totp`, `recoveryCode`, `custom`.",
                                        "type": "string",
                                        "example": "email",
                                        "title": "AuthenticationFactor",
                                        "oneOf": [
                                            {
                                                "type": "string",
                                                "enum": [
                                                    "email"
                                                ],
                                                "title": "email"
                                            },
                                            {
                                                "type": "string",
                                                "enum": [
                                                    "phone"
                                                ],
                                                "title": "phone"
                                            },
                                            {
                                                "type": "string",
                                                "enum": [
                                                    "totp"
                                                ],
                                                "title": "totp"
                                            },
                                            {
                                                "type": "string",
                                                "enum": [
                                                    "recoverycode"
                                                ],
                                                "title": "recoverycode"
                                            },
                                            {
                                                "type": "string",
                                                "enum": [
                                                    "custom"
                                                ],
                                                "title": "custom"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "factor"
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update MFA challenge (confirmation)",
                "operationId": "accountUpdateMfaChallenge",
                "tags": [
                    "account"
                ],
                "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                "responses": {
                    "200": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/update-mfa-challenge.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},challengeId:{param-challengeId}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.updateMFAChallenge"
                    },
                    "methods": [
                        {
                            "name": "updateMfaChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "challengeId",
                                "otp"
                            ],
                            "required": [
                                "challengeId",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/session"
                                }
                            ],
                            "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/update-mfa-challenge.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.updateMFAChallenge"
                            }
                        },
                        {
                            "name": "updateMFAChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "challengeId",
                                "otp"
                            ],
                            "required": [
                                "challengeId",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/session"
                                }
                            ],
                            "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/update-mfa-challenge.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "challengeId": {
                                        "description": "ID of the challenge.",
                                        "type": "string",
                                        "example": "<CHALLENGE_ID>"
                                    },
                                    "otp": {
                                        "description": "Valid verification token.",
                                        "type": "string",
                                        "example": "<OTP>"
                                    }
                                },
                                "required": [
                                    "challengeId",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa\/factors": {
            "get": {
                "summary": "List factors",
                "operationId": "accountListMfaFactors",
                "tags": [
                    "account"
                ],
                "description": "List the factors available on the account to be used as a MFA challange.",
                "responses": {
                    "200": {
                        "description": "MFAFactors",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaFactors"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/list-mfa-factors.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.listMFAFactors"
                    },
                    "methods": [
                        {
                            "name": "listMfaFactors",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaFactors"
                                }
                            ],
                            "description": "List the factors available on the account to be used as a MFA challange.",
                            "demo": "account\/list-mfa-factors.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.listMFAFactors"
                            }
                        },
                        {
                            "name": "listMFAFactors",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaFactors"
                                }
                            ],
                            "description": "List the factors available on the account to be used as a MFA challange.",
                            "demo": "account\/list-mfa-factors.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/mfa\/recovery-codes": {
            "get": {
                "summary": "List MFA recovery codes",
                "operationId": "accountGetMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                "responses": {
                    "200": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/get-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.getMFARecoveryCodes"
                    },
                    "methods": [
                        {
                            "name": "getMfaRecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                            "demo": "account\/get-mfa-recovery-codes.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.getMFARecoveryCodes"
                            }
                        },
                        {
                            "name": "getMFARecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                            "demo": "account\/get-mfa-recovery-codes.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            },
            "post": {
                "summary": "Create MFA recovery codes",
                "operationId": "accountCreateMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                "responses": {
                    "201": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/create-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.createMFARecoveryCodes"
                    },
                    "methods": [
                        {
                            "name": "createMfaRecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/create-mfa-recovery-codes.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.createMFARecoveryCodes"
                            }
                        },
                        {
                            "name": "createMFARecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/create-mfa-recovery-codes.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            },
            "patch": {
                "summary": "Update MFA recovery codes (regenerate)",
                "operationId": "accountUpdateMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                "responses": {
                    "200": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "mfa",
                    "demo": "account\/update-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.updateMFARecoveryCodes"
                    },
                    "methods": [
                        {
                            "name": "updateMfaRecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                            "demo": "account\/update-mfa-recovery-codes.md",
                            "public": true,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.updateMFARecoveryCodes"
                            }
                        },
                        {
                            "name": "updateMFARecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                            "demo": "account\/update-mfa-recovery-codes.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/name": {
            "patch": {
                "summary": "Update name",
                "operationId": "accountUpdateName",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account name.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/update-name.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "User name. Max length: 128 chars.",
                                        "type": "string",
                                        "example": "<NAME>"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/password": {
            "patch": {
                "summary": "Update password",
                "operationId": "accountUpdatePassword",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user password. For validation, user is required to pass in the new password, and the old password. For users created with OAuth, Team Invites and Magic URL, oldPassword is optional.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/update-password.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "description": "New user password. Must be at least 8 chars.",
                                        "type": "string",
                                        "example": "password",
                                        "format": "password"
                                    },
                                    "oldPassword": {
                                        "description": "Current user password. Max length: 256 chars.",
                                        "type": "string",
                                        "default": "",
                                        "example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/phone": {
            "patch": {
                "summary": "Update phone",
                "operationId": "accountUpdatePhone",
                "tags": [
                    "account"
                ],
                "description": "Update the currently logged in user's phone number. After updating the phone number, the phone verification status will be reset. A confirmation SMS is not sent automatically, however you can use the [POST \/account\/verification\/phone](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createPhoneVerification) endpoint to send a confirmation SMS.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/update-phone.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "description": "Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.",
                                        "type": "string",
                                        "example": "+12065550100",
                                        "format": "phone"
                                    },
                                    "password": {
                                        "description": "User password. Must be at least 8 chars.",
                                        "type": "string",
                                        "example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "phone",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/prefs": {
            "get": {
                "summary": "Get account preferences",
                "operationId": "accountGetPrefs",
                "tags": [
                    "account"
                ],
                "description": "Get the preferences as a key-value object for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Preferences",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/preferences"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/get-prefs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            },
            "patch": {
                "summary": "Update preferences",
                "operationId": "accountUpdatePrefs",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account preferences. The object you pass is stored as is, and replaces any previous value. The maximum allowed prefs size is 64kB and throws error if exceeded.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "account",
                    "demo": "account\/update-prefs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prefs": {
                                        "description": "Prefs key-value JSON object.",
                                        "type": "object",
                                        "default": {},
                                        "example": {
                                            "language": "en",
                                            "timezone": "UTC",
                                            "darkTheme": true
                                        }
                                    }
                                },
                                "required": [
                                    "prefs"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/recovery": {
            "post": {
                "summary": "Create password recovery",
                "operationId": "accountCreateRecovery",
                "tags": [
                    "account"
                ],
                "description": "Sends the user an email with a temporary secret key for password reset. When the user clicks the confirmation link he is redirected back to your app password reset URL with the secret key and email address values attached to the URL query string. Use the query string params to submit a request to the [PUT \/account\/recovery](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#updateRecovery) endpoint to complete the process. The verification link sent to the user's email address is valid for 1 hour.",
                "responses": {
                    "201": {
                        "description": "Token",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/token"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "recovery",
                    "demo": "account\/create-recovery.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": [
                        "url:{url},email:{param-email}",
                        "url:{url},ip:{ip}"
                    ],
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "description": "User email.",
                                        "type": "string",
                                        "example": "email@example.com",
                                        "format": "email"
                                    },
                                    "url": {
                                        "description": "URL to redirect the user back to your app from the recovery email. Only URLs from hostnames in your project platform list are allowed. This requirement helps to prevent an [open redirect](https:\/\/cheatsheetseries.owasp.org\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html) attack against your project API.",
                                        "type": "string",
                                        "example": "https:\/\/example.com",
                                        "format": "url"
                                    }
                                },
                                "required": [
                                    "email",
                                    "url"
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update password recovery (confirmation)",
                "operationId": "accountUpdateRecovery",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to complete the user account password reset. Both the **userId** and **secret** arguments will be passed as query parameters to the redirect URL you have provided when sending your request to the [POST \/account\/recovery](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createRecovery) endpoint.\n\nPlease note that in order to avoid a [Redirect Attack](https:\/\/github.com\/OWASP\/CheatSheetSeries\/blob\/master\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md) the only valid redirect URLs are the ones from domains you have set when adding your platforms in the console interface.",
                "responses": {
                    "200": {
                        "description": "Token",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/token"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "recovery",
                    "demo": "account\/update-recovery.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "description": "User ID.",
                                        "type": "string",
                                        "example": "<USER_ID>"
                                    },
                                    "secret": {
                                        "description": "Valid reset token.",
                                        "type": "string",
                                        "example": "<SECRET>"
                                    },
                                    "password": {
                                        "description": "New user password. Must be between 8 and 256 chars.",
                                        "type": "string",
                                        "example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "secret",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions": {
            "get": {
                "summary": "List sessions",
                "operationId": "accountListSessions",
                "tags": [
                    "account"
                ],
                "description": "Get the list of active sessions across different devices for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Sessions List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/sessionList"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "sessions",
                    "demo": "account\/list-sessions.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete sessions",
                "operationId": "accountDeleteSessions",
                "tags": [
                    "account"
                ],
                "description": "Delete all sessions from the user account and remove any sessions cookies from the end client.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "sessions",
                    "demo": "account\/delete-sessions.md",
                    "rate-limit": 100,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/sessions\/anonymous": {
            "post": {
                "summary": "Create anonymous session",
                "operationId": "accountCreateAnonymousSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to allow a new user to register an anonymous account in your project. This route will also create a new session for the user. To allow the new user to convert an anonymous account to a normal account, you need to update its [email and password](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#updateEmail) or create an [OAuth2 session](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#CreateOAuth2Session).",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "sessions",
                    "demo": "account\/create-anonymous-session.md",
                    "rate-limit": 50,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/sessions\/email": {
            "post": {
                "summary": "Create email password session",
                "operationId": "accountCreateEmailPasswordSession",
                "tags": [
                    "account"
                ],
                "description": "Allow the user to login into their account by providing a valid email and password combination. This route will create a new session for the user.\n\nA user is limited to 10 active sessions at a time by default. [Learn more about session limits](https:\/\/appwrite.io\/docs\/authentication-security#limits).",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "group": "sessions",
                    "demo": "account\/create-email-password-session.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},email:{param-email}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "Session": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "description": "User email.",
                                        "type": "string",
                                        "example": "email@example.com",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "User password. Must be at least 8 chars.",
                                        "type": "string",
                                        "example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions\/magic-url": {
            "put": {
                "summary": "Update magic URL session",
                "operationId": "accountUpdateMagicURLSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a session from token. Provide the **userId** and **secret** parameters from the successful response of authentication flows initiated by token creation. For example, magic URL and phone login.",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "group": "sessions",
                    "demo": "account\/update-magic-url-session.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "deprecated": {
                        "since": "1.6.0",
                        "replaceWith": "account.createSession"
[...]
