```graphql
mutation {
    accountUpdatePasskeyVerification(
        passkeyId: "<PASSKEY_ID>",
        credential: "{}"
    ) {
        _id
        _createdAt
        _updatedAt
        name
        accessedAt
    }
}
```
